{% macro show_links(user) %}
<ul class="nav navbar-nav">
    <li {% if request.path == '/' %}class="active"{% endif %}><a href="{{ url_for('index') }}">Home</a></li>
    {% if not user %}
    <li {% if request.path == '/login' %}class="active"{% endif %}><a href="{{ url_for('login') }}">Login</a></li>
    <li {% if request.path == '/register' %}class="active"{% endif %}><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}
    {% if user and not user['admin'] and not user['expert'] %}
    <li {% if request.path == '/ask' %}class="active"{% endif %}><a href="{{ url_for('ask') }}">Ask Question</a></li>
    {% endif %}
    {% if user and user['expert'] %}
    <li {% if request.path == '/unanswered' %}class="active"{% endif %}><a href="{{ url_for('unanswered') }}">Answer Questions</a></li>
    {% endif %}
    {% if user and user['admin'] %}
    <li {% if request.path == '/users' %}class="active"{% endif %}><a href="{{ url_for('users') }}">User Setup</a></li>
    {% endif %}
    {% if user %}
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% endif %}
  </ul>
{% endmacro %}